# Databricks
.databricks/
.venv/
/s01-plataforma/docs/
/s02-pipelines/docs/
/s03-genai/docs/
/s04-rag/docs/
/s05-agentes/docs/guia-tarea-sesion-05.md
/s06-evaluacion/docs/guia-tarea-sesion-06.md
*.pyc
__pycache__/
.ipynb_checkpoints/

# credenciales — NUNCA
.env
*.pat
.databrickscfg
secrets.json
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/

# sistema
.DS_Store

