# Databricks
.databricks/
.venv/
/s01-plataforma/docs/
*.pyc
__pycache__/
.ipynb_checkpoints/

# credenciales — NUNCA
.env
*.pat
.databrickscfg
secrets.json
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/

# sistema
.DS_Store

